networks:
  analytics_net:
    driver: bridge

services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - analytics_net
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:5000/api

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    networks:
      - analytics_net
    volumes:
      - ./uploads:/app/uploads